.dashboard-container {
  text-align: center;
  padding: 50px;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.logout-btn {
  background-color: #dc3545 !important;
}

.logout-btn:hover {
  background-color: #b02a37 !important;
}
