.login-container {
  margin: auto;
  margin-top: 80px;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #cccccc;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.btn:hover {
  background-color: #1e7a34;
}
